/*styling for the sidenavigation menu*/
.sidenav {
    margin-top: 300px;

    position: absolute;

    /* background-color: #111;*/
    overflow-x: hidden;
    border: black solid 1px;
    box-sizing: content-box;

}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: black;
}


/*resizes sidenav when screen is reduces*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#user.p{
    color: yellow;

}
#user{
    position: absolute;
    border: solid 1px black;

}
/*styling for the image*/
.image{

    border-radius: 50%;
    padding: 15px;
    width: 150px;
}
/*styling for my orders page*/
.myorders h1{
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    font-family: "Edwardian Script ITC", "Serif";

}

.myorders p{
    font-size: 20px;
    font-family: Georgia, sans-serif;
    text-align: center;
}


/*styling for my account page*/


.myaccount p{
    font-size: 20px;
    text-align: center;
}
.myaccount input{

    text-align: center;
}
.myaccount h1{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    font-family: "Edwardian Script ITC", "SansSerif";

}

/*styling for my bookings page*/

.mybookings h1{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    font-family: "Edwardian Script ITC", "Edwardian Script ITC";

}

.mybookings p{
    font-weight: normal;
    font-size: 20px;
    font-family: Georgia;
    text-align: center;
}
